
.box{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.upload-controls{
  display: flex;
  flex-direction: column;
}
.drop-zone{
  background-color: #ebecf1;
  border-width: 2px;
  border-style: dashed;
  padding: 100px;
  margin-left: 100px;
  border-radius: 15px;
  margin-bottom: 5%;
  margin-top: 5%;
}

table{
  margin-top: 5%;
  border-radius: 10px;
  width: 100%;
  padding: 8px;
  background-color: #ebecf1;
}
th,
td {
  border: 1px solid #76767996;
  font-size: 18px;
  text-align: center;
}

label{
font-size: 18px;
}

.topic{
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 22px;
}

.button{
  flex-wrap: wrap;
  background-color: #ed3e3e;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}
