<body>
<header>
  <div class="name" >
    <img class="logo" src="../assets/logo.png" alt="Лого">
    <div class="name">Sender</div>
  </div>
  <div >
    <button  class="profile-button" >Профиль</button>
  </div>
</header>

<main>
<div class="mainbox">
  <div class="menu">
    <button class="btn-menu" (click)="onDashboard()" [class.active]="isButtonActive1" >Дашборд</button>
    <button class="btn-menu"(click)="onEmail()" [class.active]="isButtonActive3">Email рассылка</button>
    <button class="btn-menu" (click)="onSms()"[class.active]="isButtonActive4">Sms рассылка</button>
  </div>
  <div class ="workspace">
  <router-outlet></router-outlet>
  </div>
</div>
</main>

</body>

