
<body>
<header [class.scroll]="isScrolled">
  <div class="name" >
    <img class="logo" src="../assets/logo.png" alt="Лого">
    <div class="name">Sender</div>
  </div>
  <div class="auth-buttons">
    <button class="login-button" (click)="openAuthDialog()">Вход</button>
    <button  class="register-button"  (click)="openRegistrationDialog()">Регистрация</button>
  </div>
</header>
<main>
  <div class="main-box">
    <h1 class="title">Lorem</h1>
    <div class="itembox">
      <p class="titleText">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Sed euismod nulla vitae nulla finibus, in semper metus facilisis.
        Duis vel nisi vitae dolor malesuada iaculis at vitae ipsum.
        In non leo eget massa facilisis faucibus.
        Sed at aliquet dolor. Praesent id bibendum neque.
        Nulla eget augue eu velit tristique convallis.
        Ut sagittis odio eget nibh lobortis lobortis.
        Ut ut est tellus.</p>
      <img src="../assets/png1.png" alt="Картинка">
    </div>
  </div>
  <div class="main-bottom" >
    <a routerLink="/workspace">
    <button class="try-button" >Попробывать</button>
    </a>
  </div>

  <div class="box">
    <div class="headTitle"> Sms рассылка</div>
    <div class="itembox">
      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Sed euismod nulla vitae nulla finibus, in semper metus facilisis.
        Duis vel nisi vitae dolor malesuada iaculis at vitae ipsum.
      </p>
      <img class="imgSmall" src="../assets/sms.png" alt="Картинка">

    </div>
  </div>
  <div class="box">
    <div class="headTitle">Email рассылка </div>
    <div class="itembox">
      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Sed euismod nulla vitae nulla finibus, in semper metus facilisis.
        Duis vel nisi vitae dolor malesuada iaculis at vitae ipsum.
      </p>
      <img class="imgSmall" src="../assets/email.png" alt="Картинка">
    </div>
  </div>

  <div class="whitebox">
    <div class="headTitle" style="color: black">Тарифы</div>
    <div class="itembox">
      <div class="item">
        <h2>Free</h2>
        <ul class="list">
          <li>Описание</li>
          <li>Описание</li>
          <li>Описание</li>
          <li>Описание</li>
          <li>Описание</li>
        </ul>
        <p>Цена: ???</p>
      </div>
      <div class="item">
        <h2>Email</h2>
        <ul class="list">
          <li>Описание</li>
          <li>Описание</li>
          <li>Описание</li>
          <li>Описание</li>
          <li>Описание</li>
        </ul>
        <p>Цена: ???</p>
      </div>
      <div class="item">
        <h2>Sms</h2>
        <ul class="list" >
          <li>Описание</li>
          <li>Описание</li>
          <li>Описание</li>
          <li>Описание</li>
          <li>Описание</li>
        </ul>
        <p>Цена: ???</p>
      </div>
      <div class="item">
        <h2>Full</h2>
        <ul class="list">
          <li>Описание</li>
          <li>Описание</li>
          <li>Описание</li>
          <li>Описание</li>
          <li>Описание</li>
        </ul>
        <p>Цена: ???</p>
      </div>
    </div>
  </div>
</main>

<footer>
  <nav>
    <ul>
      <li><a href="#">О сервисе</a></li>
    </ul>
  </nav>
</footer>
</body>


